body {
  font-family: 'Proximanova opt', sans-serif;
  color: #4c525a;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  /* z-index: 1; */
  /* overflow: hidden; */
}